################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AtlantSovt/AtlantSovt/bin/Debug/AtlantSovt.vshost.exe.manifest
AtlantSovt/AtlantSovt.v12.suo
AtlantSovt/AtlantSovt/bin/Debug/AtlantSovt.exe
AtlantSovt/AtlantSovt/bin/Debug/AtlantSovt.pdb
AtlantSovt/AtlantSovt/obj/Debug/AtlantSovt.csproj.FileListAbsolute.txt
AtlantSovt/AtlantSovt/obj/Debug/AtlantSovt.csproj.FileListAbsolute.txt
AtlantSovt/AtlantSovt/App.config
AtlantSovt/AtlantSovt.v12.suo
AtlantSovt/AtlantSovt/bin/Debug/AtlantSovt.exe
AtlantSovt/AtlantSovt/bin/Debug/AtlantSovt.exe.config
AtlantSovt/AtlantSovt/bin/Debug/AtlantSovt.pdb
AtlantSovt/AtlantSovt/bin/Debug/AtlantSovt.vshost.exe
AtlantSovt/AtlantSovt/bin/Debug/AtlantSovt.vshost.exe.config
AtlantSovt/AtlantSovt/obj/Debug/AtlantSovt.csproj.FileListAbsolute.txt
AtlantSovt/AtlantSovt/obj/Debug/AtlantSovt.csproj.GenerateResource.Cache
AtlantSovt/AtlantSovt/obj/Debug/AtlantSovt.csproj.GenerateResource.Cache
AtlantSovt/AtlantSovt/obj/Debug/AtlantSovt.csprojResolveAssemblyReference.cache
AtlantSovt/AtlantSovt/obj/Debug/AtlantSovt.exe
AtlantSovt/AtlantSovt/obj/Debug/AtlantSovt.pdb
AtlantSovt/AtlantSovt/obj/Debug/AtlantSovt.Properties.Resources.resources
AtlantSovt/AtlantSovt/obj/Debug/AtlantSovt.csproj.GenerateResource.Cache
AtlantSovt/AtlantSovt/AtlantSovt.csproj
AtlantSovt/AtlantSovt/AtlantSovt.csproj
AtlantSovt/AtlantSovt/AtlantSovt.csproj
